<h1 class="page-title">{{ 'customers.reset_password.header' | t }}</h1>

{% include 'breadcrumbs' %}

<div class="reset-password customer-wrapper">
  {% form 'reset_customer_password' %}

    <p>{{ 'customers.reset_password.message' | t: user: email }}</p>

    {% if form.errors %}
      <p class="error-message banner">{{ 'customers.reset_password.error' | t }}</p>
    {% endif %}

    <div class="input-wrapper">
      <label for="customer[password]">{{ 'general.general.password' | t }}</label>
      <input type="password" value="" name="customer[password]">
    </div>

    <div class="input-wrapper">
      <label for="customer[password_confirmation]">{{ 'general.general.repeat_password' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]">
    </div>

    <div class="input-wrapper">
      <input type="submit" value="{{ 'customers.reset_password.submit' | t }}">
    </div>

  {% endform %}
</div>
