<h1 class="page-title">{{ 'cart.general.header' | t }}</h1>

<div class="buyx-msg"></div>
{% include 'buyx-cart' %}

{% include 'breadcrumbs' %}

{% if cart.item_count > 0 %}

  <form class="cart-form" action="/cart" method="post">

    <table class="cart-items">
      <thead>
        <tr>
          <th class="first">{{ 'general.general.product' | t }}</th>
          <th>{{ 'general.general.price' | t }}</th>
          <th>{{ 'general.general.quantity' | t }}</th>
          <th class="last" colspan="2">{{ 'general.general.total' | t }}</th>
        </tr>
      </thead>

      <tbody>
        {% for item in cart.items %}
          <tr class="cart-item variant-{{ item.variant.id }} {% include 'for-looper' %}" data-variant="{{ item.variant.id[] }}" data-title="{{ item.product.title }}" data-url="{{ item.product.url }}">
            <td class="product-item first">
              <a class="image" href="{{ item.product.url }}">
                <img alt="{{ item.image.alt | escape }}" src="{{ item | img_url: 'compact' }}">
              </a>

              <div class="product-item-details">
                {% if settings.product-vendor %}
                  <span class="cart-brand">{{ item.vendor | link_to_vendor }}</span>
                {% endif %}
                <span class="cart-title">{{ item.product.title | link_to: item.product.url }}</span>
                  <span class="cart-variant">{{ item.variant.title  | remove: ' / Default' | remove: 'Default' }}</span>
                {% unless item.variant.title == 'Default Title' %}
                {% endunless %}
              </div>

              <a class="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">&#xe603;</a>
            </td>
            <td class="price" data-title="{{ 'general.general.price' | t }}"><span class="money">{{ item.price |  money }}</span></td>
            <td class="quantity" data-title="{{ 'general.general.quantity' | t }}"><input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}"></td>
            <td class="total last" data-title="{{ 'general.general.total' | t }}"><span class="money">{{ item.quantity | times: item.price |  money }}</span></td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="cart-tools">

      {% if settings.cart-special-instructions %}
        <div class="cart-instructions">
          <h2>{{ 'cart.general.special_instructions' | t }}</h2>
          <textarea placeholder="{{ settings.cart-special-instructions-placeholder }}" name="note">{{ cart.note }}</textarea>
        </div>
      {% endif %}

      <div class="cart-totals">
        <p class="cart-price"><span class="money">{{ cart.total_price | money }}</span></p>
        {% if settings.cart-show-shipping-note %}
          <p class="cart-message">{{ 'cart.general.tax_and_shipping' | t }}</p> 
        {% endif %}

          <input class="cart-update button secondary" type="submit" name="update" value="{{ 'general.general.update' | t }}">
        {% if settings.currency-switcher or settings.ajax == false %}
        {% endif %}

        <input class="cart-checkout button" type="submit" name="checkout" value="{{ 'cart.general.submit' | t }}">

        {% if additional_checkout_buttons %}
          <div>{{ content_for_additional_checkout_buttons }}</div>
        {% endif %}
      </div>

    </div>

  </form>

	{% include 'cross-sell' %}

  {% if settings.shipping-calculator and cart.requires_shipping %}
    {% include 'shipping-calculator' %}
  {% endif %}

{% else %}

  {% capture continueLink %}
    <a href="{{ shop.url }}/collections/all">{{ 'cart.general.continue_link' | t }}</a>
  {% endcapture %}
  <p class="empty">{{ 'cart.general.empty_html' | t: continue_link: continueLink }}</p>

{% endif %}

{% include 'directed-edge' %}


<script>
    jQuery('[max]').change(function() {
      var max = parseInt(jQuery(this).attr('max'), 10);
      if (isNaN(max)) {
        return
      }
      var value = parseInt(jQuery(this).val(), 10) || 0;
      if (value > max) { jQuery(this).val(max); }
    });
    /* change won't trigger on initial load */
    jQuery('[max]').each(function() {
      var max = parseInt(jQuery(this).attr('max'), 10);
      if (isNaN(max)) {
        return
      }
      var value = parseInt(jQuery(this).val(), 10) || 0;
      if (value > max) { jQuery(this).val(max); }
    });
  if (typeof BuyXSubmit == "function") {
    var buyx_checkout_selectors = ["input[name='checkout']", "button[name='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", "[href$='checkout']", ".google-wallet-button-holder", ".amazon-payments-pay-button"];
    window.buyx_cart_global = {{ cart | json }}
    buyx_checkout_selectors.forEach(function(selector) {
        jQuery(selector).bind("click", function() {
          console.log("click")
            return BuyXSubmit(window.buyx_cart_global, "#updates_{variant_id}");
            //use appropriate selector for your theme, e.g. "input[data-id={variant_id}]"
        })
    });
  }
</script>

