{% if collection.title == 'Active Wear' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Active.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Active Wear - SALE' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Maaji-Banner-Active.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji Swimwear' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '190830_MaajiSwim-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji Summer 2016 - Art Essence' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Slider-Category-Swimwear.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji Spring 2016 - Rhapsody Road' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Slider-Half_Maaji.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji Women' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Slider-Category-Swimwear.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Jewellery - Shelley Dahari' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '190304_ShelleyDahari-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji Apparel' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '180924_Maaji-Apparel.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Maaji - Sunny Dream Inn' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'MaajiSummer_PageBanner.png' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Destination Wear' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Destination.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Moses Women' or collection.title == 'Moses Men' or collection.title == 'Moses Kids' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Category-Banner-MadMoses.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Moses' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '180716_Moses-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Ju'sto" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'justo.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Ju'sto Watches" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'J-Watch-Half.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Knitwear' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Aldo-Knit.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Tamara Chérie' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'TamaraCherie_PageBanner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == 'Aldo Martins' %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Aldo-Knit.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "One Season" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '190828_Oneseason-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "SUPER" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'Super_PageBanner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Eyewear" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Boho-Eyewear.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Mr. Boho" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Boho-Eyewear.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Swimwear Bikinis" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Bikinis.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Swimwear - One Pieces" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Fullpieces.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Farewell Summer Sale" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '180309_Farewell-Summer-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Medusa" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ '190208_MeDusa-Banner.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% elsif collection.title == "Swimwear - Shorts & Rashguards" %}
<img class="custom-banner-collection new-cusBann-collection" alt="{{ shop.name | escape }}" src="{{ 'CB-Banner-Shorts-Rashvests.jpg' | asset_url }}">
<h1 class="page-title">{{ collection.title }}</h1>

{% else %}
<h1 class="page-title">{{ collection.title }}</h1>
{% endif %}

{% include 'breadcrumbs' %}

{% assign products_per_page = settings.collection-products-per-row | times: settings.collection-number-of-rows %}

{% paginate collection.products by products_per_page %}




<div class="collection">

  {% if collection.image or collection.description != blank or settings.collection-tag-filtering %}
    <div class="collection-header">
      {% if collection.image and settings.collection-show-featured-image %}
        <div class="collection-featured-image">
          <img alt="{{ collection.image.alt | escape }}" src="{{ collection | img_url: 'medium' }}">
        </div>
      {% endif %}

      {% if collection.description != blank and settings.collection-show-description %}
        <div class="collection-description rte">
          {{ collection.description }}
        </div>
      {% endif %}

      {% assign tagFiltering = false %}
      {% assign collectionSorting = false %}
      {% if settings.collection-tag-filtering and collection.all_tags.size > 0 and collection.handle %}
        {% assign tagFiltering = true %}
      {% endif %}
      {% if settings.collection-sorting %}
        {% assign collectionSorting = true %}
      {% endif %}

      {% if tagFiltering or collectionSorting %}
        <div class="collection-filters">

          {% if collectionSorting %}
            <div class="collection-sorting {% if collection.current_vendor %}vendor-collection{% endif %} select-wrapper">

              {% assign sortHandles = "manual|best-selling|price-ascending|price-descending|title-descending|title-ascending|created-ascending|created-descending" | split: "|" %}
              {% capture sortTitles %}{{ 'collections.collection_sorting.manual' | t }}|{{ 'collections.collection_sorting.best_selling' | t }}|{{ 'collections.collection_sorting.price_ascending' | t }}|{{ 'collections.collection_sorting.price_descending' | t }}|{{ 'collections.collection_sorting.title_descending' | t }}|{{ 'collections.collection_sorting.title_ascending' | t }}|{{ 'collections.collection_sorting.created_ascending' | t }}|{{ 'collections.collection_sorting.created_descending' | t }}{% endcapture %}
              {% assign sortTitles = sortTitles | split: "|" %}

              {% for handle in sortHandles %}
                {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                  {% assign currentTitle = sortTitles[forloop.index0] %}
                {% elsif collection.sort_by == handle %}
                  {% assign currentTitle = sortTitles[forloop.index0] %}
                {% endif %}
              {% endfor %}

              <span class="selected-text"></span>
              <select>
                {% for handle in sortHandles %}
                  {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                    <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                  {% elsif collection.sort_by == handle %}
                    <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                  {% else %}
                    <option value="{{handle}}">{{ sortTitles[forloop.index0] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endif %}

          {% if tagFiltering %}
            <div class="collection-tags-wrapper select-wrapper">
              <span class="selected-text"></span>
              <select class="collection-tags" data-url="{{ collection.handle }}">
                <option value="all">{{ 'collections.collection.all_tags' | t }}</option>
                {% for tag in collection.all_tags %}
                  {% if current_tags contains tag %}
                    <option value="{{ tag | handle }}" selected="selected">{{ tag }}</option>
                  {% else %}
                    <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endif %}

        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="collection-products rows-of-{{ settings.collection-products-per-row }}">
    
    {% for product in collection.products %}
      {% include 'product-list-item' %}
    {% else %}
      <p class="empty">{{ 'collections.collection.empty' | t }}</p>
    {% endfor %}
    
  </div>

</div>

{% include 'pagination' %}

{% endpaginate %}

{% if collection.title == 'Active Wear' %}
<br>
<h2 class="custom-banner-title">Fitness and Workout Gear Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Active_Wear); </script>

{% elsif collection.title == 'Maaji Swimwear' %}
<br>
<h2 class="custom-banner-title">Maaji Swimwear Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Swimwear); </script>

{% elsif collection.title == 'Maaji Women' %}
<br>
<p class="custom-banner-title">About Maaji</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Women); </script>

{% elsif collection.title == 'Moses Women' or collection.title == 'Moses Men' or collection.title == 'Moses Kids' %}
<br>
<p class="custom-banner-title">About moses</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Moses_Women); </script>

{% elsif collection.title == "Ju'sto Watches" %}
<br>
<p class="custom-banner-title">About Ju’sto Watches</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Justo_watches); </script>

{% elsif collection.title == "Ju'sto" %}
<br>
<p class="custom-banner-title">About Ju’sto</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Justo); </script>

{% elsif collection.title == "One Season" %}
<br>
<h2 class="custom-banner-title">One Season Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(One_Season); </script>

{% elsif collection.title == "SUPER" %}
<br>
<p class="custom-banner-title">About SUPER</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Super); </script>

{% elsif collection.title == "Women Destination Wear" %}
<br>
<p class="custom-banner-title">About Women Destination Wear</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Women_Destination_Wear); </script>

{% elsif collection.title == "Maaji Men" %}
<br>
<p class="custom-banner-title">About Maaji Men</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Men); </script>

{% elsif collection.title == "Women Accessories" %}
<br>
<p class="custom-banner-title">About Women Accessories</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Women_Accessories); </script>

{% elsif collection.title == "Women Footwear" %}
<br>
<p class="custom-banner-title">About Women Footwear</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Women_Footwear); </script>

{% elsif collection.title == "Metalicus" %}
<br>
<p class="custom-banner-title">About Metalicus</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Metalicus); </script>

{% elsif collection.title == "Maaji Summer 2016 - Art Essence" %}
<br>
<p class="custom-banner-title">About Art Essence</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Art_Essence); </script>


{% elsif collection.title == "Tamara Chérie" %}
<br>
<p class="custom-banner-title">About Tamara Chérie</p>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Tamara_Cherie); </script>


{% elsif collection.title == "Aldo Martins" %}
<br>
<h2 class="custom-banner-title">Aldo Martins Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Aldo_Martins) </script>

{% elsif collection.title == "Swimwear Bikinis" %}
<br>
<h2 class="custom-banner-title">Bikinis Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Swimwear_Bikinis) </script>

{% elsif collection.title == "Swimwear - One Pieces" %}
<br>
<h2 class="custom-banner-title">Designer One Piece Swimsuits</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Swimwear_OnePiece) </script>

{% elsif collection.title == "Swimwear - Shorts & Rashguards" %}
<br>
<h2 class="custom-banner-title">Designer Shorts & Rashguards</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Swimwear_rashguards) </script>

{% elsif collection.title == "PilyQ Swimwear" %}
<br>
<h2 class="custom-banner-title">PilyQ Swimwear Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Swimwear_PilyQ) </script>

{% elsif collection.title == "Maaji Apparel" %}
<br>
<h2 class="custom-banner-title">Maaji Apparel Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Maaji_Apparel) </script>

{% elsif collection.title == "Swimwear - Men's Trunks" %}
<br>
<h2 class="custom-banner-title">Men's Swimwear Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Mens_Trunks) </script>

{% elsif collection.title == "Mr. Boho" %}
<br>
<h2 class="custom-banner-title">Sunglasses Online</h2>
<div class="custom-banne-text"></div>
<script> jQuery(".custom-banne-text").html(Boho) </script>

{% endif %}